@model Online_Library.Domain.PaymentViewModel

@{
ViewBag.Title = "Complete Your Payment";
}

<h2>Complete Your Payment</h2>

<form id="payment-form">
    <div id="card-element">
    </div>
    <button id="submit">Pay</button>
</form>

@section Scripts {
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('@Model.PublishableKey');

    var elements = stripe.elements();

    var cardElement = elements.create('card', {
        hidePostalCode: true
    });

    cardElement.mount('#card-element');

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.confirmCardPayment('@Model.ClientSecret', {
            payment_method: {
                card: cardElement
            }
        }).then(function(result) {
            if (result.error) {
                console.log(result.error.message);
            } else {
                if (result.paymentIntent.status === 'succeeded') {
                    window.location.href = '@Url.Action("PaymentSuccess", "Payment", new { userId = @Model.UserId })';
                }
            }
        });
    });
</script>
}
