@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<h2>Payment Successful</h2>
<p>Your payment has been processed successfully. Thank you!</p>

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <a href="/Books/Index" class="btn btn-primary">Go to Books</a>
}
else
{
    <a href="/Identity/Account/Login" class="btn btn-primary">Go to Login</a>
}
