@model Online_Library.Domain.Entities.BooksInReadingList

<h2>Add to Reading List</h2>

@if (Model.Book != null)
{
    <div>
        <form asp-action="AddToReadingListConfirmed">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="BookId"/>
            <input type="hidden" asp-for="ReadingListId"/>

            <dt class="col-sm-2">Book ID</dt>
            <dd class="col-sm-10">@Model.BookId</dd>

            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@Model.Book.Title</dd>

            <div class="form-group">
                <input type="submit" value="Add To Reading List" class="btn-info"/>
            </div>
        </form>
    </div>
}
else
{
    <p>The book could not be found.</p>
}

<div>
    <a asp-action="Index" asp-controller="Books" class="btn btn-primary">Back to List</a>
</div>